<div>
    <h1>Tu perfil (sin datos sensibles)</h1>
    <p>{{user.name}}</p>
    <p>{{user.email}}</p>
    <p>{{user.age}}</p>
</div>

<form action="/api/session/logout" method="GET">
        <button type="submit"> logout </button>
</form>

<div>
   {{#each prodRender}}
      <h2>informacion de este producto</h2>
      <p>titulo: {{this.titulo}}</p>
      <p>precio: {{this.precio}}</p>
      <p>stock: {{this.stock}}</p>
      <button id="{{this._id}}">agregar al carrito</button>
   {{/each}}
</div>

<br/>


<div>
    {{#each result.docs}}
    <div>
        <h2>informacion de este producto</h2>
      <p>titulo: {{this.titulo}}</p>
      <p>precio: {{this.precio}}</p>
      <p>stock: {{this.stock}}</p>
      <button id="{{this._id}}">agregar al carrito</button>
    </div>
    <br/>
    {{/each}}
</div>

<div>
    {{#if result.hasPrevPage}}
        <a href={{this.result.prevLink}}> Anterior</a>
    {{/if}}
    &nbsp;
    {{this.result.page}}
    &nbsp;
     {{#if result.hasNextPage}}
        <a href={{this.result.nextLink}}>Siguiente </a>
    {{/if}} 
</div>

<script>"/js/logout.js"</script>