<div>
    <h1>usuario: {{user.name}}</h1>
</div>


<form action="/api/session/logout" method="GET">
        <button type="submit"> logout </button>
</form>

<form action="/api/cartviews/cartUsuario">
    <button type="submit"> ver carrito de compras</button>
</form>

<br/>


<div>
    {{#each result.docs}}
    <div>
        <h2>informacion de este producto</h2>
      <p>titulo: {{this.titulo}}</p>
      <p>precio: {{this.precio}}</p>
      <p>stock: {{this.stock}}</p>
    <form action="/api/carts/agregar" method="POST"> 
        <input type="hidden" name="id" value="{{this._id}}">
        <button>agregar al carrito</button>
    </form>
    </div>
    <br/>
    {{/each}}
</div>

<div>
    {{#if result.hasPrevPage}}
        <a href={{this.result.prevLink}}> Anterior</a>
    {{/if}}
    &nbsp;
    {{this.result.page}}
    &nbsp;
     {{#if result.hasNextPage}}
        <a href={{this.result.nextLink}}>Siguiente </a>
    {{/if}} 
</div>

<div>
    {{#each prodRender}}
        <h2>informacion de este producto</h2>
        <p>titulo: {{this.titulo}}</p>
        <p>precio: {{this.precio}}</p>
        <p>stock: {{this.stock}}</p>
        <form action="/api/productos/delete/id" method="POST"> 
        <input type="hidden" name="id" value="{{this._id}}">
        <button>borrar producto de la base de datos</button>
    </form>

    {{/each}}
</div>